<div class="elpad">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="assets/images/about.jpeg" width="130%" height="100%">
            </div>
            <div class="col-md-8">
            <h4>Our role is to help you to find the suitable job for you.<br>
                You can get dozens of interviews, upload your resume,<br>
                fill contact form and hit the apply button.<br>
                There is huge variety of positions and we believe <br>
                that you will find the right job for you !</h4>
                <p><button type="button" mdbBtn color="primary" mdbWavesEffect routerLink="/home" routerLinkActive="active">Browse jobs</button>
                </p>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
