<div class="elpad">
    <div class="container">
            <div class="col-md-8">
                <h1>Fill the contact form</h1>
                <div class="md-form">
                <p><input mdbInput type="text" id="form1" class="form-control" value="Your name"></p>
                </div>
               <div class="md-form">
              <p><input mdbInput type="text" id="form2" class="form-control" value="Your email"></p>
               </div>
                <div class="md-form">
                    <p><input mdbInput type="text" id="form3" class="form-control" value="Message.."></p></div>
                <p><button type="button" mdbBtn color="warning" mdbWavesEffect>Send</button></p>
            </div>
    </div>
</div>
