<mdb-navbar SideClass="navbar navbar-1 navbar-light amber lighten-2" [containerInside]="false">
    <mdb-navbar-brand><a class="navbar-brand">HireDevelopers</a></mdb-navbar-brand>
    <!--<img src="assets/images/logo.png" width="4%">-->
    <links>
        <ul class="navbar-nav mr-auto">
            <a routerLink="/home" routerLinkActive="active">Home</a>
            <a routerLink="/about" routerLinkActive="active">About</a>
            <a routerLink="/contacts" routerLinkActive="active">Contacts</a>
            <a routerLink="/accessap" routerLinkActive="active">Admin panel</a></ul>
    </links>
</mdb-navbar>
<router-outlet></router-outlet>
